* {
  margin: 0;
  padding: 0;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
}

header {
  padding: 37px 100px 27px;
  height: 108px;
}

header img {
  float: left;
}

#banner {
  background: #3C3C3C;
  padding: 34px 100px 28px;
}

#banner img {
  float: left;
}

#banner_text p {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-left: 70px;
}

#main, #footer {
  padding: 50px 100px 0px;
  display: flex;
  justify-content: space-between;
}

.main_item {
  width: 49%;
  height: 465px;
}

#result {
  background: #00BEF0;
  box-shadow: 0px 4px 8px rgba(54, 137, 155, 0.15);
  border-radius: 8px;
  height: 100%;
  padding: 0 20%;
}

#result p {
  text-align: center;
  color: #fff;
}

.result_title {
  padding-top: 42px;
  padding-bottom: 23px;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

.reg_form, .auth_form, .loc_form {
  padding-top: 31px;
}

.reg_label, .auth_label, .loc_label {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  padding-left: 10px;
}

.reg_input, .auth_input, .loc_select {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  height: 41px;
  background-color: #00BEF0;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}

.result_label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

#result a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 20px;
}

.reg_button, .auth_button, .loc_button {
  display: block;
  margin: auto;
  font-weight: 300;
  font-size: 16px;
  margin-top: 17px;
  padding: 10px 15px;
  background-color: #fff;
  line-height: 19px;
  border-radius: 8px;
  border: none;
}

.main_banner {
  background: url("../img/nathan-unsplash1.png");
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 8px;
}

.main_banner_text {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 35px;
  line-height: 120%;
}

.best {
  margin-top: 58px;
}

.best_container {
  display: flex;
  justify-content: space-around;
}

.best_title {
  font-size: 20px;
  line-height: 24px;
}

.best_item {
  flex-wrap: nowrap;
  height: 190px;
}

.footer_item {
  border: 0.2px solid #E8EDED;
  box-shadow: 0px 10px 30px rgba(54, 137, 155, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.footer_item p {
  padding: 55px 10px 65px;
}

.searching {
  padding: 41% 0;
  font-size: 30px;
}

.chat_header {
  font-size: 16px;
  padding: 10px;
}

#chatbox {
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  height: 360px;
  position: relative;
  overflow-y: auto;
}

.chat_input {
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #D2DCDC;
  width: 92%;
  margin-left: 4%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #D2DCDC;
  position: absolute;
  bottom: 19px;
  font-size: 16px;
  padding: 8px 18px 8px 18px;
  color: #000;
}

.chat_message_bot, .chat_message_user {
  border: 1px solid #D2DCDC;
  box-sizing: border-box;
  position: relative;
  padding: 5px;
  text-align: left !important;
  margin: 15px;
  padding: 17px;
  width: 70%;
  min-height: 54px;
}

.chat_message_bot {
  border-radius: 0px 8px 8px 8px;
  color: #000 !important;
  text-align: left;
  float: left;
}

.chat_message_user {
  border-radius: 8px 8px 8px 0px;
  color: #fff;
  float: right;
  background: #3C3C3C;
}
.chatform::after {
  content: " ";
  background: #fff;
  height: 68px;
  border-radius: 0px 0px 8px 8px;
  display: block;
}

#chatbox::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

#chatbox::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

#chatbox::-webkit-scrollbar-thumb
{
	background-color: #D2DCDC;
}

.message_time {
  position: absolute;
  right: 18px;
  font-size: 8px;
  color: #00BEF0;
  bottom: 2px;
}

.footer_item img {
  max-width: 103px;
}

.best_item img {
  max-width: 105px;
}
